* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

/*tiras as setinhas dos inputs*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;    
 }
  
 input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
 }

#triangulos {
    height: 100vh;
    max-width: 69.5%;
}

#triangulos img {
    width: 100%;
    height: 100%;
}

#brasao{
    width: auto;
    height: 100vh;
}

#brasao img{
    width: auto;
    height: 38.75rem;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
}

main {
    width: 33.5625rem;
    height: 40.1875rem;
    padding: 2.75rem 3.1875rem;
    box-sizing: border-box;

    border-radius: 1.25rem;

    background: rgba(255, 255, 255, 0.85); 
    box-shadow: 3px 11px 19px rgb(0 0 0 / 37%);   
}

.formulario{
    margin: 2.3125rem auto;
    padding: .5625rem 0;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: 23.8125rem;
    height: auto;
}

.formulario .form-group {
    margin: 1.9375rem 0;
}

.formulario label {
    margin-bottom: .4375rem;
    padding-left: .9375rem;

    display: inline-block;

    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: #000000;
}

.formulario input,
.formulario select {
    width: 100%;
    height: 2.875rem;
    padding: 0 .9375rem;

    background: #EBEBEB;
    border: 2px solid #E5DDDD;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.1875rem;
    display: flex;
    align-items: center;

    color: #667F92;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.875rem;
}

.formulario input:-internal-autofill-selected {
    background: #EBEBEB !important;
}

.form-control:focus {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #667F92;

    background-color: #EBEBEB;
    border-color: #E5DDDD;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn#botao {
    --altura: 3.875rem;
    --fonte: 1.875rem;;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: calc((var(--altura) - var(--fonte))/2);

    width: 13.5rem;
    height: var(--altura);

    background: #B70F0A;
    border-radius: .3125rem;
    border: 1px solid transparent;

    font-family: 'Exo 2', sans-serif;
    font-size: var(--fonte);
    line-height: 0;

    color: #FFFFFF;
}

.btn#botao:hover {
    background: #900500;
}


/********************* Mensagem de erro *********************/
/********************* CARD *********************/
.swal2-popup.swal2-modal.swal2-show {
  height: 24.562rem;
  padding: 2.05rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 99999;
  border-radius: 1.875rem;
}

/********************* SIMBOLO ERRO *********************/
.swal2-popup .swal2-icon.swal2-icon-show.swal2-error {  
  margin: 2.125rem auto .125rem;
  border-color: #ff3c3c;
}

.swal2-popup.swal2-modal.swal2-show .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: #ff3c3c;
}

/********************* TEXTOS *********************/
.swal2-popup h2.swal2-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25rem;
  line-height: 1.23;
  color: #000;
  margin: 2.188rem 0 0.625rem 0;
}

.swal2-popup div.swal2-content {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.25;
  opacity: 0.8;
}

/********************* BOTOES *********************/
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show .swal2-actions{
  margin: 0px;
}

.swal2-popup button.swal2-confirm.swal2-styled {
  width: 12.625rem;
  height: 3.25rem;

  margin: 1.687rem auto;
  border-radius: 0.625rem;

  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bold;

  cursor: pointer;
}

.swal2-popup button.swal2-confirm.swal2-styled {
  border: 2px solid #4DFF9F;  
}

.swal2-popup .swal2-actions:not(.swal2-loading) button.swal2-confirm.swal2-styled:hover {
  background: #4DFF9F;
}



/********************* Responsividade *********************/
@media (min-width: 1300px) {
    html {
        font-size: 106.25%;
    }
}