* {
  box-sizing: border-box;
}

:root {
  --red: rgb(121, 29, 31);
  --yellow:rgb(195, 166, 59);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

/*tiras as setinhas dos inputs*/
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
